.chess-board__cell-captureBtn {
  top: 20px;
  left: 20px;
  /* bottom: 25;
  left: 25; */
  position: absolute;
  z-index: 2;
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background-color: rgba(166, 57, 35, 0.775);
}