.winner-popup__title {
  margin: 10px 0 50px;
  text-align: center;
  width: 100%;
  color: black;
  font-size: 24px;
  font-weight: 400;
}

.winner-popup__title > span {
  font-size: 34;
  font-weight: 600;
}

